.root {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  perspective: 1000px;
  perspective-origin: center;

  .logo a:link,
  .logo a:visited {
    font-family: sans-serif;
    color: #dedede;
    text-decoration: none;
    font-weight: 500;
  }

  .logo.is--center {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) translateZ(-1000px);
    transform-origin: 50% 50%;
    transition-property: opacity, transform;
    transition-duration: 500ms;
    text-align: center;
  }

  .logo.is--center.logo-enter {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) translateZ(-1000px);
  }

  .logo.is--center.logo-enter-active {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) translateZ(0px);
  }

  .logo.is--center.logo-enter-done {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) translateZ(0px);
  }

  .logo.is--center .app__icon {
    width: 100%;
    height: 100%;
  }

  .logo.is--center .app__icon img {
    width: 100%;
    height: 100%;
  }
}
